#wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto 0 auto;
    overflow: hidden;
    background-color: #fdf9fc;
    opacity: 0.9;
}
#wrapper div h2 {
    width: 1200px;
    height: 100px;
    font-size: 4em;
    text-align: center;
    margin: 0 auto 0 auto;
    line-height: 100px;
    /*background-color:#c4d278;*/
}
#wrapper #item {
    float: left;
    font-size: 1.4em;
    width: 160px;
    height: 200px;
    margin-left: 50px;
    padding-top: 10px;
    line-height: 30px;
}
#wrapper .info {
    float:right;
    width: 800px;
    height: 300px;
    margin: 0 70px 0 0;
    color: #000000;
}
#wrapper .info p {
    width: 700px;
    height: 40px;
    font-size: 2.5em;
    text-align: left;
    line-height: 40px;
    margin: 0 0 0 10px;
}
#wrapper .info .img {
    float: left;
    width: 100px;
    height: 100px;
}
#wrapper .info .value {
    float: right;
    width: 600px;
    height: 100px;
    margin: 0 40px 0 0;
    line-height: 25px;
    padding-top: 5px;
}
